body {
	font-family: "Open Sans", sans-serif;
	color: #4d4643;

}

a {
	color: #000;
}

a:hover {
	color: #858585;
	text-decoration: none;
}

/* top bar */

#topbar {
	background: #ffe500;
	padding: 5px 0;
	font-size: 15px;
	color: #000;
}

#topbar .contact-info a:hover {
	color: #fff;
}

#topbar .contact-info i {
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #2f2f2f;
}



/* header */
.navbar-nav {
	margin-left: 25px;
}

/*end header*/
.bg-image {

	background-image: url("bg-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}



.center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.youtube-player {
     position: relative;
     padding-bottom: 56.25%;
     height: 0;
     overflow: hidden;
     max-width: 100%;
     background: #000;
     margin: 15px;
}

.youtube-player iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            background: transparent;
        }

@media (min-width: 768px)
.text-md-right {
    text-align: right!important;
}

.text-center {
    text-align: center!important;
}

@media (min-width: 768px)
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}







.float-button {
    text-decoration: none;
    position: fixed;
    padding: 8px;
    padding-right: 15px;
    bottom: 40px;
    right: 35px;
    background-color: #00C851;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 4px 6px 0px rgba(173, 173, 173, 1);
    z-index: 100;
    font-family: arial;
    font-size: 18px;
    animation: whatsapp-animation 0.5s ease-in-out;
    transition: background-color 0.3s ease;
}

.float-button:hover {
    background-color: #90d573;
}

.fa-whatsapp {
    font-size: 20px !important;
    padding-right: 5px;
    padding-left: 5px;
}

@keyframes whatsapp-animation {
    from {opacity: 0%;}
    to {opacity: 100%}
}

@media screen and (max-width: 545px) {
    span {
        display: none;
    }
    .float-button {
        width: 50px;
        border-radius: 10px;
        height: 45px;
    }
    .fa-whatsapp {
        font-size: 30px !important;
		text-align: center;
    }
}






.facebook {
	font-size: 25px;
	color: #fff;
}




.socials h4 {

	padding: 20px 0px 0px 15px;
	color: #fff;
}

.social-button {
	margin: 20px 10px 10px 0px;
	font-size: 18px;
}

.fb-reviews {
	font-size: 14px;
	padding: 20px;

}

.reviews {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	color: #858585;
}

/* second page */


.course-intro {
	background-color: #d3d3d3;
	height: auto;
}

.students-img {
	margin-top: 10px;
}
.course-details {
	padding-top: 30px;
	text-align: left;
}
.course-details p {
	padding-top: 30px;
	font-size: 20px;
}
.course-details-one {
	padding-top: 50px;
	text-align: left;
}
.course-details-one p {
	padding-top: 30px;
	font-size: 20px;
}

/* deck cards */
.main-deck {
	text-align: center;
	background-color: #f6f6f6;

}
.main-deck .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first-deck {
	padding: 20px 10px;
}

.second-deck {
	padding: 10px 10px 40px;
}

/* course-details */

.web-development-img {
	padding-top: 30px;
}

.course-extro {
	background-color: #f6f6f6;
	height: auto;
}

.course-details-two {
	padding-top: 50px;
	text-align: left;
}
.course-details-two p {
	padding-top: 30px;
	font-size: 20px;
}


/* Carousel */
